
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Bienvenido al sistema Web del Teatro Milan</h1>
        <p>@Html.ActionLink("Ir a operas", "Index", "Opera")</p> <!-- esta linea indica un link para ir a opera -->
    </div>
</body>
</html>

